html, body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    background-color: #FFCC80;
    color: #432000;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 320px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    cursor: pointer;
    box-shadow: 5 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.15rem);
    transition: transform 150ms;
    background-color: #8b0000;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}